<!DOCTYPE html>
<html>
<head>
  <title>Deploy Sage</title>
  <%= env_stylesheet_link_tag 'application_prod', 'application_dev', media: 'all' %>
  <%= env_javascript_include_tag nil, 'http://localhost:3500/vendor-bundle.js' %>
  <%= env_javascript_include_tag nil, 'http://localhost:3500/app-bundle.js' %>
  <%= env_javascript_include_tag 'application_prod', 'application_dev' %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
