<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>Deploy Sage (rails dev)</title>

  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>

  <style>
    #main {
      width: 100%;
      display: flex;
    }
  </style>
</head>

<body style="height: 100%; display: flex">
  <div id="container" style="width: 100%; display: flex">
    <%= yield %>
  </div>

  <%= javascript_include_tag('application') %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag('app-static') %>
  <% else %>
    <%= javascript_include_tag('http://localhost:3500/app-bundle.js') %>
  <% end %>

</body>
</html>
