<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>Deploy Sage (rails dev)</title>
  <%= env_stylesheet_link_tag 'application_prod', 'application_dev', media: 'all' %>
  <%= action_cable_meta_tag %>
  <%= env_javascript_include_tag nil, 'http://localhost:3500/vendor-bundle.js' %>
  <%# NOTE: the include for the application_prod/dev must come BEFORE the include for
     app-bundle.js in order for actioncable to be available to redux %>
  <%= env_javascript_include_tag 'application_prod', 'application_dev' %>
  <%= env_javascript_include_tag nil, 'http://localhost:3500/app-bundle.js' %>
  <%= csrf_meta_tags %>
  <style>
    #DeploySageApp-react-component-0 {
      width: 100%;
      display: flex;
    }
  </style>
</head>

<body style="height: 100%; display: flex">
  <div id="container" style="width: 100%; display: flex">
    <%= yield %>
  </div>
</body>
</html>
